<ion-content color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="../../assets/images/reservor_dogs.jpg"
            alt="Reservoir Dogs"
          />
        </ion-card>
        <div class="movie-title">
          <p>Reservoir Dogs</p>
          <p class="subtitle">(1992)</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
