<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Movie List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ng-container *ngIf="movies$ | async as movies">
        <ion-col sizeXs="6" sizeLg="3" *ngFor="let movie of movies">
          <ion-card (click)="onClickVisitMoviePage(movie.Url)">
            <img
              style="margin: auto"
              src="../../assets/images/posters/{{movie.Url}}.jpg"
              [alt]="movie.Title"
            />
            <div class="movie-title">
              <p>{{movie.Title}}</p>
              <p class="subtitle">({{movie.Year}})</p>
            </div>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
