@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat-Italic.woff2') format('woff2'),
    url('../assets/fonts/Benguiat-Italic.woff') format('woff'),
    url('../assets/fonts/Benguiat-Italic.ttf') format('truetype'),
    url('../assets/fonts/Benguiat-Italic.svg#../assets/fonts/Benguiat-Italic')
      format('svg');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Benguiat-Bold.woff') format('woff'),
    url('../assets/fonts/Benguiat-Bold.ttf') format('truetype'),
    url('../assets/fonts/Benguiat-Bold.svg#../assets/fonts/Benguiat-Bold')
      format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat.woff2') format('woff2'),
    url('../assets/fonts/Benguiat.woff') format('woff'),
    url('../assets/fonts/Benguiat.ttf') format('truetype'),
    url('../assets/fonts/Benguiat.svg#../assets/fonts/Benguiat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat_1.woff2') format('woff2'),
    url('../assets/fonts/Benguiat_1.woff') format('woff'),
    url('../assets/fonts/Benguiat_1.ttf') format('truetype'),
    url('../assets/fonts/Benguiat_1.svg#../assets/fonts/Benguiat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat_2.woff2') format('woff2'),
    url('../assets/fonts/Benguiat_2.woff') format('woff'),
    url('../assets/fonts/Benguiat_2.ttf') format('truetype'),
    url('../assets/fonts/Benguiat_2.svg#../assets/fonts/Benguiat') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '../assets/fonts/Benguiat';
  src: url('../assets/fonts/Benguiat-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Benguiat-BoldItalic.woff') format('woff'),
    url('../assets/fonts/Benguiat-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/Benguiat-BoldItalic.svg#../assets/fonts/Benguiat-BoldItalic')
      format('svg');
  font-weight: 100;
  font-style: italic;
}
